.headingDiv {
  color: blue;
  margin: auto;
  display: flex;
  justify-content: center;
}

.inputform {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid blue;
  margin-top: 10px;
  padding: 20px;
}

.renderedOrders {
  display: flex;
  margin: 10px;
  border: 1px solid red;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
